.page {
  width: 100vw;
    height: 100vh;
}

.affiches {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  height: 75vh;
  overflow: auto;

}

.title {
  font-size: 48px;
}

.afficheItem {
  display: flex;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 0px;
}