.page {
    width: 100vw;
    height: 100vh;
}

.affiches {
  display: flex;
  align-items: center;
  gap: 16px; 
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  padding-top: 80px;
  overflow: auto;
 
}

.title {
  font-size: 48px;
}

.afficheItem {
  display: flex; 
}


.searchContainer {
display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px; 
}
 
