.page {
  width: 100vw;
    height: 100vh;
}

.affiches {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  height: 75vh;
  overflow: auto;

}

.title {
  font-size: 48px;
}

.afficheItem {
  display: flex;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 0px;
}

.photoFullPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.photoFullPage img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}