.page {
    display: flex ; 
        flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.contacts {
    display:flex ; 
    flex-direction: column;
    color: white ;  
    gap: 16px;
}

.contactItem {
    display:flex ; 
    align-items: center;
    gap : 24px ; 
}

.icon {
    font-size : 40px ; 
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 30vw;
}