.logo {
    width :50px;
    height: auto;
    margin: 8px ; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  
}

.headerLinks {
  display: flex;
  gap: 16px;
}

.headerItem {
  text-decoration: none;
  color: white;
}

.headerItem:hover {
  cursor: pointer;
  color: white;
  
}

.menu {
  display: flex;
  gap: 8px;
  height: 50px;
  width: 100vw;
  justify-content: center;
  align-items: center;  
  padding-bottom: 32px;
  color: white; 

}


.menuItem {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 300px;
  color: white; 

}

.menuItem:hover {
  cursor: pointer;
  font-weight: bold;
  opacity: 1;

}



/* Pour les écrans de taille moyenne à grande */
@media screen and (min-width: 768px) {
  .menu {
    font-size: 20px;
      /* Taille de texte par défaut pour les écrans moyens à grands */
  }

  .header {
    font-size: 16px; /* Taille de texte par défaut pour les écrans moyens à grands */
  }
}

/* Pour les petits écrans comme les smartphones */
@media screen and (max-width: 767px) {
  .menu {
    font-size: 8px;
      /* Réduire la taille du texte pour les petits écrans */
  }
  .header {
    font-size: 8px; /* Taille de texte par défaut pour les écrans moyens à grands */
  }
}
