.page {
  width: 100vw;
  height: 100vh;
}

.photoContainer {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 80vh;
}

.photos {
  width: 95vw;
}

.title {
  font-size: 48px;
}

.photoItem {
  display: flex;
}

.photoFullPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.photoFullPage img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}