.page {
  width: 100vw;
  height: 100vh;
}

.photoContainer {
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 80vh;
}

.photos {
  width: 95vw;
}

.title {
  font-size: 48px;
}

.photoItem {
  display: flex;
}