.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  gap: 80px ; 
  color: white;
}

.tableauVisual {
  max-height: 40vh;
  width: auto;
  border: 8px solid #fff; /* Simuler un cadre autour du tableau */
  border-radius: 16px;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.tableauVisual:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-25px) rotateX(10deg) scale(1);
  opacity: 1;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5
}

.name {
    font-size: 50px;
    font-weight: bold;
}

.auteur {
    font-size: 12px;
}

.prix {
    font-size: 50px;
}



