.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  gap: 80px;
  color: white;
  flex-wrap: wrap;
  overflow: auto;
}

.tableau {
  max-height: 75vh;
  max-width: 80vw;
}

.tableauVisual {
  max-height: 75vh;
  max-width: 80vw;
  border: 8px solid #fff;
  /* Simuler un cadre autour du tableau */
  border-radius: 16px;
  transform: perspective(800px) rotateY(12deg) scale(0.8) rotateX(10deg);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.tableauVisual:hover {
  transform: perspective(800px) rotateY(-12deg) translateY(-12px) rotateX(10deg) scale(0.9);
  opacity: 1;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  max-width: 80vw;
  gap: 16px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.auteur {
  font-size: 12px;
}

.prix {
  font-size: 50px;
}

.description {
  font-size: 16px;
  text-align: justify;
}
 @media (min-width: 900px) {

   /* Ajustez 900px selon le point de rupture souhaité */
   .tableau,
   .tableauVisual {
     max-width: 49vw;
   }

   .desc {
     max-width: 50vw;
   }
 }